.manutencao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alterado de center para flex-start */
  min-height: 100vh; /* Alterado de height para min-height */
  width: 100vw;
  background-color: '#d9d9d9';
  text-align: center;
  overflow-y: auto; /* Permite scroll vertical */
}

.manutencao-title {
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 2vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 50vw;
  margin-bottom: 3vh;
}

.input-label {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.manutencao-input {
  width: 100%;
  padding: 2vh;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;

  background-color: white;
  text-align: center;
}

.manutencao-button,
.saldo-button,
.sair-button {
  padding: 2vh 4vw;
  font-size: 2.5vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  margin-top: 2vh;
}

.manutencao-button:hover,
.saldo-button:hover,
.sair-button:hover {
  background-color: #333;
}

.table-container {
  margin-top: 2vh;
  width: 100%;
  max-width: 80vw;

  /* Adicionado para rolagem */
  max-height: 25vh; /* Define uma altura máxima para a tabela */
  overflow-y: auto; /* Ativa a rolagem vertical caso necessário */
}
.table-container thead th {
  background-color: #fff;
}
/* Garante que a tabela ocupe toda a largura disponível */
table {
  width: 100%;
}

th,
td {
  padding: 1vh;

  text-align: center;
  font-size: 2vh;
}

th {
  background-color: #f4f4f4;
}

/* Para navegadores baseados no WebKit (Chrome, Edge, Safari) */
.manutencao-input::-webkit-inner-spin-button,
.manutencao-input::-webkit-outer-spin-button {
  appearance: auto; /* Garante que as setas padrão apareçam */
  opacity: 1;
}

/* Para Firefox */
.manutencao-input {
  -moz-appearance: textfield; /* Remove a configuração que oculta as setas */
}
/* styles/MaintenanceScreen.css */

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .table-container {
    max-height: 300px; /* Altura adequada para dispositivos móveis */
    overflow-y: auto; /* Permite a rolagem se necessário */
  }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .table-container {
    max-height: 400px; /* Altura moderada para tablets */
    overflow-y: auto;
  }
}

/* Estilos para telas grandes como totens */
@media (min-width: 1024px) {
  .table-container {
    max-height: 60vh; /* Usa uma porcentagem da altura da tela para totens */
    overflow-y: auto;
  }
}
